/* User info section */

.userInfo {
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 4em;

	background-color: rgb(175, 175, 175);
}

.username {
  font-size: 2.5rem;
}

.preferedName {
  font-size: 1.5rem;
  color: #777;
}

/* Recent solutions section */

.recentSolutions {
	margin-bottom: 4em;
}

.recentSolutions h2 {
  font-size: 2rem;
	margin-bottom: 1em;
}

.solution-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.solution-card:hover {
  transform: translateY(-5px);
}

/* Recent comments section */

.recentComments h2 {
	margin-bottom: 1em;
}

.comment-box {
  background-color: #f9f9f9;

	border: 1px solid #ddd;
  border-radius: 10px;

  padding: 1rem;
  margin-bottom: 0;

	max-width: 350px;
	box-sizing: border-box;
	
	transition: transform 0.3s ease-in-out;
}

.comment-box:hover {
  transform: translateY(-5px);
}

.comment-title {
	margin-bottom: 0;
}

.comment-date {
	font-size: 0.9rem;
	color: #777;
}

.comment-content {
  font-size: 1.2rem;
}
